<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<title>登陆平台</title>

<style type="text/css">
	 .form-class{
		position:absolute; 
		left:500px; 
		top:170px
	}
</style>
</head>
<body background="../../image/img.jpg" >
	
  	<h1 style="color:gray ; text-align:center">家电行业供应链管理系统</h1>
  		<div class="form-class">
  			<h2 style="color:gray ; text-align:center">欢迎登陆</h2>
            <form id="indexform" name="indexForm" action="check" method="post">
                <table border="0">
                    <tr>
                        <td>账号：</td>
                        <td><input type="text" name="username"></input></td>
                    </tr>
                    <tr>
                        <td>密码：</td>
                        <td><input type="password" name="password"></input>
                        </td>
                    </tr>
                </table>
                <a href="register.html">新用户注册</a>
            <br></br>
                <input type="submit" value="登录" style="color:#BC8F8F"></input>
                <input type="button" value="取消" style="color:#BC8F8F"></input>
            </form>
     </div>
</body>
</html>