<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<title>登陆平台</title>

<style type="text/css">
	 .form-class{
		position:absolute; 
		left:580px; 
		top:170px
	}
	.form-class .button{
		position:absolute; 
		left:65px; 
		top:130px
	}
	.form-class .input-css{
		position:absolute; 
		left:55px; 
		top:155px
	}
</style>
</head>
<body>
  	<h1 style="color:gray ; text-align:center">家电行业供应链管理系统</h1>
  		<div class="form-class">
  			<h2 style="color:gray ; text-align:center">欢迎登陆</h2>
            <form id="indexform" name="indexForm" action="check" method="post">
                <table border="0">
                    <tr>
                        <td>账号：</td>
                        <td><input type="text" name="username"></input></td>
                    </tr>
                    <tr>
                        <td>密码：</td>
                        <td><input type="password" name="password"></input>
                        </td>
                    </tr>
                </table>
            <br></br>
            <div class="button">
                <a href="register.html" >新用户注册</a><br></br>
            </div>
            <div class="input-css">
            	<input type="submit" value="登录" style="color:#BC8F8F"></input>
                <input type="button" value="取消" style="color:#BC8F8F"></input>
            </div>
            </form>
     	</div>
</body>
</html>