<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<title>注册平台</title>
<style type="text/css">
	 .form-class{
		position:absolute; 
		left:580px; 
		top:170px
	}
	.form-class .button{
		position:absolute; 
		left:65px; 
		top:150px
	}
</style>
</head>
<body background="../../image/img.jpg" >
	
  	<h1 style="color:gray ; text-align:center">家电行业供应链管理系统</h1>
  		<div class="form-class">
  			<h2 style="color:gray ; text-align:center">欢迎注册</h2>
            <form id="indexform" name="indexForm" action="register" method="post">
                <table border="0">
                    <tr>
                        <td>账号：</td>
                        <td><input type="text" name="username" required="true"></input></td>
                    </tr>
                    <tr>
                        <td>密码：</td>
                        <td><input type="password" name="password" required="true"></input>
                        </td>
                    </tr>
                </table>
            <br></br>
            <div class="button">
                <input type="submit" value="注册" style="color:#BC8F8F ;font-size:20px" ></input>
            </div>
            </form>
     </div>
</body>
</html>