<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<title>家电行业供应链管理系统</title>
<style type="text/css">
	.copy_class{
		position:absolute; 
		left:550px; 
		top:650px;
		font-size:10px;
	}
	.font_class{
		text-align:center;
		background:gray;
		height:40px;
		padding-top:20px;
		font-size:18px;
	}
</style>
</head>
<body>
  	<div class="font_class">
		<span >系统管理</span>
		<span >会员信息管理</span>
		<a href="../product/show">产品信息管理</a>
		<span >供应信息管理</span>
		<span >需求信息管理</span>
		<span >信息共享与监控</span>
		<span >配送和转运中心选址</span>
		<span >联合库存管理</span>
		<span >绩效评价管理</span>
	</div>
		<P class="copy_class">CopyRight 2018 @ SCM</P> 
</body>
</html>